---
subcategory: ""
page_title: "manifest_decode_multi function"
description: |-
  Decode a Kubernetes YAML manifest containing multiple resources
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .FunctionArgumentsMarkdown }} template can be used to replace manual argument documentation if descriptions of function arguments are added in the provider source code. */ -}}

# function: manifest_decode_multi

Given a YAML text containing a Kubernetes manifest with multiple resources, will decode the manifest and return a tuple of object representations for each resource.

## Example Usage

{{tffile "examples/functions/manifest_decode_multi/example_1.tf"}}

## Signature

```text
manifest_decode_multi(manifest string) tuple
```

## Arguments

1. `manifest` (String) The YAML text for a Kubernetes manifest containing multiple resources

## Return Type

The `tuple` returned from `manifest_decode_multi` will contain dynamic objects that mirror the structure of the resources in YAML manifest supplied.
