---
subcategory: "apiregistration/v1"
page_title: "Kubernetes: kubernetes_api_service"
description: |-
  An API Service is an abstraction which defines for locating and communicating with servers.
---

# {{ .Name }}

{{ .Description }}

{{ .SchemaMarkdown }}

## Example Usage

{{tffile "examples/resources/api_service/example_1.tf"}}

## Import

API service can be imported using its name, e.g.

```
$ terraform import kubernetes_api_service.example v1.terraform-name.k8s.io
```
