---
subcategory: "rbac/v1"
page_title: "Kubernetes: kubernetes_cluster_role_binding"
description: |-
  A ClusterRoleBinding may be used to grant permission at the cluster level and in all namespaces.
---

# {{ .Name }}

A ClusterRoleBinding may be used to grant permission at the cluster level and in all namespaces.

{{ .SchemaMarkdown }}

## Example Usage

{{tffile "examples/resources/cluster_role_binding/example_1.tf"}}

## Import

ClusterRoleBinding can be imported using the name, e.g.

```
$ terraform import kubernetes_cluster_role_binding.example terraform-name
```
