---
subcategory: "core/v1"
page_title: "Kubernetes: kubernetes_config_map_v1_data"
description: |-
  This resource allows Terraform to manage the data for a ConfigMap that already exists
---

# {{ .Name }}

{{ .Description }}

{{ .SchemaMarkdown }}

## Example Usage

{{tffile "examples/resources/config_map_v1_data/example_1.tf"}}

## Import

This resource does not support the `import` command. As this resource operates on Kubernetes resources that already exist, creating the resource is equivalent to importing it.
