---
subcategory: "batch/v1"
page_title: "Kubernetes: kubernetes_cron_job_v1"
description: |-
    A Cron Job creates Jobs on a time-based schedule. One CronJob object is like one line of a crontab (cron table) file.
---

# {{ .Name }}

{{ .Description }}

{{ .SchemaMarkdown }}

## Example Usage

{{tffile "examples/resources/cron_job_v1/example_1.tf"}}
