---
subcategory: "apps/v1"
page_title: "Kubernetes: kubernetes_daemon_set_v1"
description: |-
  A DaemonSet ensures that all (or some) Nodes run a copy of a Pod. As nodes are added to the cluster, Pods are added to them. As nodes are removed from the cluster, those Pods are garbage collected. Deleting a DaemonSet will clean up the Pods it created.
---

# {{ .Name }}

{{ .Description }}

{{ .SchemaMarkdown }} 

## Example Usage

{{tffile "examples/resources/daemon_set_v1/example_1.tf"}}

## Import

DaemonSet can be imported using the namespace and name, e.g.

```
$ terraform import kubernetes_daemon_set_v1.example default/terraform-example
```
