---
subcategory: "discovery/v1"
page_title: "Kubernetes: kubernetes_endpoint_slice_v1"
description: |-
  An EndpointSlice contains references to a set of network endpoints.
---

# {{ .Name }}

{{ .Description }}

{{ .SchemaMarkdown }}

## Example Usage

{{tffile "examples/resources/endpoint_slice_v1/example_1.tf"}}

