---
subcategory: "networking/v1"
page_title: "Kubernetes: kubernetes_ingress_v1"
description: |-
  Ingress is a collection of rules that allow inbound connections to reach the endpoints defined by a backend. An Ingress can be configured to give services externally-reachable urls, load balance traffic, terminate SSL, offer name based virtual hosting etc.
---

# {{ .Name }}

{{ .Description }}

{{ .SchemaMarkdown }}

## Example Usage

{{tffile "examples/resources/ingress_v1/example_1.tf"}}

## Example using Nginx ingress controller

{{tffile "examples/resources/ingress_v1/example_2.tf"}}

## Import

Ingress can be imported using its namespace and name:

```
terraform import kubernetes_ingress_v1.<TERRAFORM_RESOURCE_NAME> <KUBE_NAMESPACE>/<KUBE_INGRESS_NAME>
```

e.g.

```
$ terraform import kubernetes_ingress_v1.example default/terraform-name
```
