---
subcategory: "manifest"
page_title: "Kubernetes: kubernetes_labels"
description: |-
  This resource allows Terraform to manage the labels for a resource that already exists
---

# {{ .Name }}

{{ .Description }}

{{ .SchemaMarkdown }}

## Example Usage

{{tffile "examples/resources/labels/example_1.tf"}}

## Import

This resource does not support the `import` command. As this resource operates on Kubernetes resources that already exist, creating the resource is equivalent to importing it.
