---
subcategory: "core/v1"
page_title: "Kubernetes: kubernetes_limit_range"
description: |-
  Limit Range sets resource usage limits (e.g. memory, cpu, storage) for supported kinds of resources in a namespace.
---

# {{ .Name }}

Limit Range sets resource usage limits (e.g. memory, cpu, storage) for supported kinds of resources in a namespace.

Read more in [the official docs](https://kubernetes.io/docs/concepts/policy/limit-range/).

{{ .SchemaMarkdown }}

## Example Usage

{{tffile "examples/resources/limit_range/example_1.tf"}}

## Import

Limit Range can be imported using its namespace and name, e.g.

```
$ terraform import kubernetes_limit_range.example default/terraform-example
```
