---
subcategory: "core/v1"
page_title: "Kubernetes: kubernetes_namespace_v1"
description: |-
  Kubernetes supports multiple virtual clusters backed by the same physical cluster. These virtual clusters are called namespaces.
---

# {{ .Name }}

{{ .Description }}

{{ .SchemaMarkdown }}

## Example Usage

{{tffile "examples/resources/namespace_v1/example_1.tf"}}

### Timeouts

`kubernetes_namespace_v1` provides the following [Timeouts](/docs/configuration/resources.html#timeouts) configuration options:

- `delete` - Default `5 minutes`

## Import

Namespaces can be imported using their name, e.g.

```
$ terraform import kubernetes_namespace_v1.n terraform-example-namespace
```
