---
subcategory: "rbac/v1"
page_title: "Kubernetes: kubernetes_role"
description: |-
  A role contains rules that represent a set of permissions. Permissions are purely additive (there are no “deny” rules).
---

# {{ .Name }}

A role contains rules that represent a set of permissions. Permissions are purely additive (there are no “deny” rules).

{{ .SchemaMarkdown }}

## Example Usage

{{tffile "examples/resources/role/example_1.tf"}}

## Import

Role can be imported using the namespace and name, e.g.

```
$ terraform import kubernetes_role.example default/terraform-example
```
