---
subcategory: "core/v1"
page_title: "Kubernetes: kubernetes_service_account"
description: |-
  A service account provides an identity for processes that run in a Pod.
---

# {{ .Name }}

A service account provides an identity for processes that run in a Pod.

Read more at [Kubernetes reference](https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/)

{{ .SchemaMarkdown }}

## Example Usage

{{tffile "examples/resources/service_account/example_1.tf"}}

## Import

Service account can be imported using the namespace and name, e.g.

```
$ terraform import kubernetes_service_account.example default/terraform-example
```
