---
subcategory: "core/v1"
page_title: "Kubernetes: kubernetes_service_v1"
description: |-
  A Service is an abstraction which defines a logical set of pods and a policy by which to access them - sometimes called a micro-service.
---

# {{ .Name }}

{{ .Description }}

{{ .SchemaMarkdown }}

## Example Usage

{{tffile "examples/resources/service_v1/example_1.tf"}}

## Example using AWS load balancer

{{tffile "examples/resources/service_v1/example_2.tf"}}

## Import

Service can be imported using its namespace and name, e.g.

```
$ terraform import kubernetes_service_v1.example default/terraform-name
```
