---
subcategory: "core/v1"
page_title: "Kubernetes: kubernetes_service_account_v1"
description: |-
  A service account provides an identity for processes that run in a Pod.
---

# {{ .Name }}

{{ .Description }}

{{ .SchemaMarkdown }}

## Example Usage

{{tffile "examples/resources/service_account_v1/example_1.tf"}}

## Import

Service account can be imported using the namespace and name, e.g.

```
$ terraform import kubernetes_service_account_v1.example default/terraform-example
```
