---
subcategory: "storage/v1"
page_title: "Kubernetes: kubernetes_storage_class"
description: |-
  Storage class is the foundation of dynamic provisioning, allowing cluster administrators to define abstractions for the underlying storage platform.
---

# {{ .Name }} 

Storage class is the foundation of dynamic provisioning, allowing cluster administrators to define abstractions for the underlying storage platform.

Read more at https://kubernetes.io/blog/2017/03/dynamic-provisioning-and-storage-classes-kubernetes/

{{ .SchemaMarkdown }} 

## Example Usage

{{tffile "examples/resources/storage_class/example_1.tf"}}

## Import

kubernetes_storage_class can be imported using its name, e.g.

```
$ terraform import kubernetes_storage_class.example terraform-example
```
