---
subcategory: "core/v1"
page_title: "Kubernetes: kubernetes_all_namespaces"
description: |-
  Lists all namespaces within a cluster.
---

# {{ .Name }}

{{ .Description }} 

{{ .SchemaMarkdown }}

## Example Usage

{{tffile "examples/data-sources/all_namespaces/example_1.tf"}}
