---
subcategory: "core/v1"
page_title: "Kubernetes: kubernetes_endpoints_v1"
description: |-
    An Endpoints resource is an abstraction, linked to a Service, which defines the list of endpoints that actually implement the service.
---

# {{ .Name }}

{{ .Description }}

{{ .SchemaMarkdown }} 

## Example Usage

{{tffile "examples/data-sources/endpoints_v1/example_1.tf"}}

