---
subcategory: "networking/v1"
page_title: "Kubernetes: kubernetes_ingress_v1"
description: |-
  Ingress is a collection of rules that allow inbound connections to reach the endpoints defined by a backend. An Ingress can be configured to give services externally-reachable urls, load balance traffic, terminate SSL, offer name based virtual hosting etc.
---

# {{ .Name }}

{{ .Description }}

{{ .SchemaMarkdown }} 

## Example Usage

{{tffile "examples/data-sources/ingress_v1/example_1.tf"}}
