---
subcategory: "core/v1"
page_title: "Kubernetes: kubernetes_namespace"
description: |-
  Queries attributes of a Namespace within the cluster.
---

# {{ .Name }}

{{ .Description }}

{{ .SchemaMarkdown }} 

## Example Usage

{{tffile "examples/data-sources/namespace/example_1.tf"}}
