---
subcategory: "core/v1"
page_title: "Kubernetes: kubernetes_server_version"
description: |-
  Retrieves and parses the server's version (git version). 
---

# {{ .Name }}

{{ .Description }}

{{ .SchemaMarkdown }}
