---
subcategory: "core/v1"
page_title: "Kubernetes: kubernetes_service_account"
description: |-
  A service account provides an identity for processes that run in a Pod.
---

# {{ .Name }}

{{ .Description }}

{{ .SchemaMarkdown }}

## Example Usage

{{tffile "examples/data-sources/service_account/example_1.tf"}}
