name: Deferred Actions

on:
  pull_request:
    branches:
      - main
    paths:
      - "manifest/**/*.go"
      - 'kubernetes/**/*.go'
      - "go.mod"
  workflow_dispatch:
    inputs:
      terraformVersion:
        description: Terraform version
        default: v1.9.0-alpha20240516

env:
  TERRAFORM_VERSION: ${{ github.event.inputs.terraformVersion || vars.TERRAFORM_VERSION_EXP }}

jobs:
  acceptance_tests:
    runs-on: custom-linux-medium
    steps:
      - name: Checkout repository
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - name: Set up Go
        uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v5.0.1
        with:
          go-version-file: 'go.mod'
      - name: Install Terraform
        uses: hashicorp/setup-terraform@651471c36a6092792c552e8b1bef71e592b462d8 # v3.1.1
        with:
          terraform_version: ${{ env.TERRAFORM_VERSION }}
          terraform_wrapper: false
      - name: Run Tests
        env:
          TF_ACC: 1
        run: |
          go test -v -run '^TestAccKubernetesDeferredActions' ./kubernetes/test-dfa
