name: Acceptance Tests (kind)

on:
  workflow_dispatch:
    inputs:
      kindVersion:
        description: The kind version
        default: 0.20.0
      runTests:
        description: The regex passed to the -run option of `go test`
        default: "^TestAcc"
      terraformVersion:
        description: Terraform version
        default: 1.11.2
      parallelRuns:
        description: The maximum number of tests to run simultaneously
        default: 8
  pull_request:
    branches:
      - main
      - v3-major-release
    paths:
      - 'kubernetes/*.go'
      - 'go.mod'
  schedule:
    - cron: '0 21 * * *'

env:
  KUBECONFIG: ${{ github.workspace }}/.kube/config
  KIND_VERSION: ${{ github.event.inputs.kindVersion || '0.25.0' }}
  PARALLEL_RUNS: ${{ github.event.inputs.parallelRuns || '8' }}
  TERRAFORM_VERSION: ${{ github.event.inputs.terraformVersion || '1.11.2' }} 
  
jobs:
  acceptance_tests_kind:
    if: ${{ github.repository_owner == 'hashicorp' }}
    runs-on: custom-linux-medium
    strategy:
      # Don't cancel all in-progress and queued jobs in the matrix if any job in the matrix fails.
      # That will be helpful to catch any issues related to a particular Kubernetes version.
      fail-fast: false
      matrix:
        kubernetes_version:
          # kind images: https://github.com/kubernetes-sigs/kind/releases (note the images are kind release specific)
          - v1.30.6@sha256:b6d08db72079ba5ae1f4a88a09025c0a904af3b52387643c285442afb05ab994
          - v1.29.10@sha256:3b2d8c31753e6c8069d4fc4517264cd20e86fd36220671fb7d0a5855103aa84b
          - v1.28.15@sha256:a7c05c7ae043a0b8c818f5a06188bc2c4098f6cb59ca7d1856df00375d839251
          - v1.27.16@sha256:2d21a61643eafc439905e18705b8186f3296384750a835ad7a005dceb9546d20
          - v1.26.6@sha256:6e2d8b28a5b601defe327b98bd1c2d1930b49e5d8c512e1895099e4504007adb
          - v1.26.15@sha256:c79602a44b4056d7e48dc20f7504350f1e87530fe953428b792def00bc1076dd
        isMajorReleaseBranch:
          - ${{ contains(github.ref, 'v3-major-release') }}
        isBaseMajorRelease:
          - ${{ contains(github.base_ref, 'v3-major-release') }}
        include:
          # include if reference is v3-major-release and base reference is not v3-major-release
          - isMajorReleaseBranch: true
            isBaseMajorRelease: false
            kubernetes_version: v1.31.4@sha256:2cb39f7295fe7eafee0842b1052a599a4fb0f8bcf3f83d96c7f4864c357c6c30   
          # include if reference is not v3-major-release and base reference is v3-major-release
          - isMajorReleaseBranch: false
            isBaseMajorRelease: true
            kubernetes_version: v1.31.4@sha256:2cb39f7295fe7eafee0842b1052a599a4fb0f8bcf3f83d96c7f4864c357c6c30 
    steps:
      - name: Checkout repository
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
      - name: Set up Go
        uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        with:
          go-version-file: 'go.mod'
      - name: Install Terraform
        uses: hashicorp/setup-terraform@a1502cd9e758c50496cc9ac5308c4843bcd56d36 # v3.0.0
        with:
          terraform_version: ${{ env.TERRAFORM_VERSION }}
          terraform_wrapper: false
      - name: Setup kind
        uses: helm/kind-action@99576bfa6ddf9a8e612d83b513da5a75875caced # v1.9.0
        with:
          wait: 2m
          version: v${{ env.KIND_VERSION }}
          node_image: kindest/node:${{ matrix.kubernetes_version }}
          config: .github/config/acceptance_tests_kind_config.yaml
      - name: Run Acceptance Test Suite
        env:
          KUBE_CONFIG_PATH: ${{ env.KUBECONFIG }}
          TESTARGS: -run ${{ github.event.inputs.runTests || '^TestAcc' }}
          # Do not set TF_ACC_TERRAFORM_PATH or TF_ACC_TERRAFORM_VERSION.
          # In this case, the framework will search for the Terraform CLI binary based on the operating system PATH.
          # Eventually, it will use the one we set up.
          # More information: https://developer.hashicorp.com/terraform/plugin/sdkv2/testing/acceptance-tests#terraform-cli-installation-behaviors
        run: |
          make testacc
          make frameworkacc
