name: Check examples

on:
  push:
    branches:
      - main
    paths:
      - "_examples/kubernetes_manifest/**"
      - "**.go"
  pull_request:
    branches:
      - main
    paths:
      - "_examples/kubernetes_manifest/**"
      - "**.go"
  workflow_dispatch:

env:
  KUBECONFIG: ${{ github.workspace }}/.kube/config

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      # Don't cancel all in-progress and queued jobs in the matrix if any job in the matrix fails.
      # That will be helpful to catch any issues related to a particular Kubernetes version.
      fail-fast: false
      matrix:
        terraform_version:
          - "1.0.11"
          - "1.1.9"
          - "1.2.9"
          - "1.3.9"
          - "1.4.0"
    env:
      TF_X_KUBERNETES_MANIFEST_RESOURCE: 1
      TERM: linux
    steps:
      - uses: hashicorp/setup-terraform@633666f66e0061ca3b725c73b2ec20cd13a8fdd1 # v2.0.3
        with:
          terraform_version: ${{ matrix.terraform_version }}
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0
      - name: Set up Go
        uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3.5.0
        with:
          go-version-file: 'go.mod'
      - name: Go mod verify
        run: go mod verify
      - name: Go build
        run: go build
      - name: Setup kind
        uses: helm/kind-action@d8ccf8fb623ce1bb360ae2f45f323d9d5c5e9f00 # v1.5.0
        with:
          wait: 2m
          version: "v0.17.0" # Kubernetes version: 1.25.X
      - name: Check examples run
        env:
          KUBE_CONFIG_PATH: ${{ env.KUBECONFIG }}
        run: ./manifest/scripts/check_examples.sh
