name: HashiCorp Copywrite

on:
  schedule:
    - cron: '30 2 * * *'
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  copywrite:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0

    - name: Install copywrite
      uses: hashicorp/setup-copywrite@3ace06ad72e6ec679ea8572457b17dbc3960b8ce # v1.0.0
      with:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Validate Header Compliance
      run: copywrite headers --plan
