name: kubernetes_manifest acceptance tests
on:
  push:
    branches:
      - main
    paths:
      - "manifest/**/*.go"
  pull_request:
    branches:
      - main
    paths:
      - "manifest/**/*.go"
jobs:
  acceptance_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        terraform_version:
          - "0.14.10"
          - "0.15.5"
          - "1.0.0"
    steps:
      - uses: actions/checkout@v2
      - name: Read go-version
        id: go-version
        uses: juliangruber/read-file-action@v1
        with:
          path: ./.go-version
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ steps.go-version.outputs.content }}
      - uses: engineerd/setup-kind@v0.5.0
        with:
          version: "v0.10.0"
      - name: Run tests
        env:
          TF_ACC_TERRAFORM_VERSION: ${{ matrix.terraform_version }}
        run: |
          KUBE_CONFIG_PATH="${HOME}/.kube/config" go test -count=1 -tags acceptance -v ./manifest/test/acceptance/... -timeout 120m
