name: Manifest acceptance tests

on:
  push:
    branches:
      - main
      - v3-major-release
    paths:
      - "manifest/**/*.go"
      - "manifest/**/go.mod"
  pull_request:
    branches:
      - main
      - v3-major-release
    paths:
      - "manifest/**/*.go"
      - "manifest/**/go.mod"
  workflow_dispatch:

env:
  KUBECONFIG: ${{ github.workspace }}/.kube/config

jobs:
  acceptance_tests:
    runs-on: ubuntu-latest
    strategy:
      # Don't cancel all in-progress and queued jobs in the matrix if any job in the matrix fails.
      # That will be helpful to catch any issues related to a particular Kubernetes version.
      fail-fast: false
      matrix:
        kubernetes_version:
          # kind images: https://github.com/kubernetes-sigs/kind/releases (note the images are kind release specific)
          - v1.31.2@sha256:33034c0a75dd82b2f2f22bdf0a30ea2a42b2c3547a6d56c52c7ea9c1b5fb89b9
          - v1.30.0@sha256:047357ac0cfea04663786a612ba1eaba9702bef25227a794b52890dd8bcd692e
          - v1.29.0@sha256:eaa1450915475849a73a9227b8f201df25e55e268e5d619312131292e324d570
          - v1.28.0@sha256:b7a4cad12c197af3ba43202d3efe03246b3f0793f162afb40a33c923952d5b31
          - v1.27.3@sha256:3966ac761ae0136263ffdb6cfd4db23ef8a83cba8a463690e98317add2c9ba72
          - v1.26.6@sha256:6e2d8b28a5b601defe327b98bd1c2d1930b49e5d8c512e1895099e4504007adb
          - v1.25.11@sha256:227fa11ce74ea76a0474eeefb84cb75d8dad1b08638371ecf0e86259b35be0c8
          - v1.23.17@sha256:59c989ff8a517a93127d4a536e7014d28e235fb3529d9fba91b3951d461edfdb
        isMain:
          - ${{ contains(github.ref, 'main') }}
        isBaseMajorRelease:
          - ${{ contains(github.base_ref, 'v3-major-release') }}
        exclude:
          - isMain: true
            isBaseMajorRelease: false
            kubernetes_version: v1.31.2@sha256:33034c0a75dd82b2f2f22bdf0a30ea2a42b2c3547a6d56c52c7ea9c1b5fb89b9
          - isMain: false
            isBaseMajorRelease: true
            kubernetes_version: v1.31.2@sha256:33034c0a75dd82b2f2f22bdf0a30ea2a42b2c3547a6d56c52c7ea9c1b5fb89b9
        terraform_version:
          - 1.9.8
          - 1.8.5
          - 1.6.6
          - 1.5.7
          - 1.4.7
          - 1.3.10
          - 1.2.9
          - 1.1.9
          - 1.0.11

    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
      - name: Set up Go
        uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        with:
          go-version-file: 'go.mod'
      - name: Setup kind
        uses: helm/kind-action@0025e74a8c7512023d06dc019c617aa3cf561fde # v1.10.0
        with:
          version: v0.21.0
          node_image: kindest/node:${{ matrix.kubernetes_version }}
          # By default, this action creates a cluster with the name 'chart-testing'
          cluster_name: manifest
      - name: Build annotations webhook
        run: |
          docker build --rm -t tf-k8s-acc-webhook ./manifest/test/acceptance/testdata/ComputedFields/webhook/
          kind load docker-image tf-k8s-acc-webhook --name=manifest
      - name: Run tests
        env:
          KUBE_CONFIG_PATH: ${{ env.KUBECONFIG }}
          TF_ACC_TERRAFORM_VERSION: ${{ matrix.terraform_version }}
        run: |
          go test -count=1 -tags acceptance -v ./manifest/test/acceptance/... -timeout 120m
