name: kubernetes_manifest acceptance tests
on:
  push:
    branches:
      - main
    paths:
      - "manifest/**/*.go"
  pull_request:
    branches:
      - main
    paths:
      - "manifest/**/*.go"
jobs:
  acceptance_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        kubernetes_version:
          # NOTE exact sha for image is required for kind
          - v1.21.1@sha256:69860bda5563ac81e3c0057d654b5253219618a22ec3a346306239bba8cfa1a6
          - v1.20.7@sha256:cbeaf907fc78ac97ce7b625e4bf0de16e3ea725daf6b04f930bd14c67c671ff9
          # FIXME this is disabled for now as there is a regression in v1.19.11
          # and there is no image available for the latest v1.19.x
          # - v1.19.11@sha256:07db187ae84b4b7de440a73886f008cf903fcf5764ba8106a9fd5243d6f32729
        terraform_version:
          - 1.1.7
          - 1.0.11
          - 0.15.5
          - 0.14.11
    steps:
      - uses: actions/checkout@v2
      - name: Read go-version
        id: go-version
        uses: juliangruber/read-file-action@v1
        with:
          path: ./.go-version
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ steps.go-version.outputs.content }}
      - uses: engineerd/setup-kind@v0.5.0
        with:
          version: v0.11.1
          image: kindest/node:${{ matrix.kubernetes_version }}
      - name: Build annotations webhook
        run: |
          docker build --rm -t tf-k8s-acc-webhook ./manifest/test/acceptance/testdata/ComputedFields/webhook/
          kind load docker-image tf-k8s-acc-webhook
      - name: Run tests
        env:
          TF_ACC_TERRAFORM_VERSION: ${{ matrix.terraform_version }}
        run: |
          KUBE_CONFIG_PATH="${HOME}/.kube/config" go test -count=1 -tags acceptance -v ./manifest/test/acceptance/... -timeout 120m
