name: "Close stale issues"
on:
  schedule:
  - cron: "0 0 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/stale@v4.0.0
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'This issue has been open 365 days with no activity. If this issue is reproducible with the latest version of the provider and with Terraform 0.12/0.13, please comment. Otherwise this issue will be closed in 30 days.'
        days-before-stale: 365
        days-before-close: 30
